@import "tailwindcss";

@theme {
  /* Color */
  --font-sans: "Montserrat", sans-serif;
  --color-primary: #080808;
  --color-secondary: #FFFFFF;
  --color-text-primary: #212121;
  --color-text-secondary: #6B6B6B;
  --color-grey-light: #848484;
  --color-dark: #000000;
  --color-border: #CECECE80;
  --color-bg-card: #F0F0F099;
  --color-success: #38804f;
  --color-failed: #b65455;
  --color-pending: #f18c12;
  --color-link: #1486ff;

  /* Border Radius */
  --radius-lg: 18px;
  --radius-md: 10px;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background: var(--color-primary);
  }
}